@import "/src/variables";

.user-activity__albums {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    .albums__card {
        padding: 5px 10px;
        border: 1px solid $textColor;
        border-radius: 0 0 25px 0;
    }
}