@import "/src/variables";

.post {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    animation: reveal 0.3s ease-in;

    &__body {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 29%;
        min-height: 350px;
        padding: 10px;
        border: 1px solid $textColor;
        border-radius: 10px;
    }

    &__button {
        font-size: 26px;
        cursor: pointer;
    }
}

.post-body {
    &__description {
        flex: 1 1 auto;
        font-size: 20px;
    }

    &__footer {
        font-size: 16px;
    }

    &__error {
        text-align: center;
        color: red;
        font-size: 16px;
    }
}

@keyframes reveal {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}