.user-card {
    width: fit-content;
    display: flex;
    gap: 10px;
    border: 1px solid #fff;
    border-radius: 10px;

    &__name {
        padding: 5px 10px;
        border-right: 1px solid #fff;
    }

    &__nickname {
        padding: 5px 10px;
    }
}